<section data-ng-controller="HomeController">
	<div class="welcome text-center">
		<div class="outer">
			<div class="middle">
				<div class="inner" style="max-width:410px">
					<div class="panel-heading front-text-quote" style="text-align: right" >
<!--							<div class="text-shadow" style="font-size:x-large;">&ldquo;
                                Two things awe me most,<br/>the starry heavens above me and<br/>the moral law within me.
                                &rdquo;
							</div>-->
                        <div class="text-shadow" style="font-size:x-large;">
                            <p>
                            <i class="fa fa-quote-left" style="padding-right: 15px; font-size: 1.7em"></i>
                            Two things awe me most,<br/>the starry heavens above me and the moral law within me.
                            </p>
                        </div>
						<div class="front-text-signature text-shadow" style="font-size:large;">Immanuel Kant</div>
					</div>
					<!--<img class="img-responsive" style="margin:auto; padding: 0 10px" src="modules/core/img/brand/logo.png" />-->
				</div>
			</div>
		</div>
	</div>
</section>
