body {
	background-color: #c6d9f1;
	background: url("/modules/core/img/brand/bridge.jpg") no-repeat center center fixed;

	background-size: cover;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
}

footer {
	width: 100%;
	height: 25px;
	background-color: #ccc;
	position: fixed;
	bottom: 0;
	left: 0;
	padding-left: 0px;
	padding-right: 0px;
}
footer .box {
	margin: 0 auto;
}
footer .box p {
	height: 15px;
	font-size: 0.8em;
	padding: 5px 0;
	border-top: 1px solid #d7e0e2;
}


.content {
	margin-top: 50px;
}
.undecorated-link:hover {
	text-decoration: none;
}
[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
	display: none !important;
}
.ng-invalid.ng-dirty {
	border-color: #FA787E;
}
.ng-valid.ng-dirty {
	border-color: #78FA89;
}

.welcome {
	margin-top: -50px;
}

.welcome .panel-heading {
	color: #000;
	font-weight: bold;
}
.welcome .outer {
	display: table;
	margin: auto;
	height: 100%;
	width: 100%;
	position: absolute;
}
.welcome .middle {
	display: table-cell;
	vertical-align: middle;
}
.welcome .inner {
	margin-left: auto;
	margin-right: auto;
}

.lead {
	background-color: white;
	padding: 5px 10px;
	margin-top: 3px;
}

.front-text-quote{
	font-family: Arial, Helvetica, sans-serif
}
.front-text-signature{
	font-weight: normal;
	font-style: italic;
	margin-top: 8px;
}

.underline {
	text-decoration: underline;
}

.control-label {
	font-size: 1.3em;
}


.progress {
	background: url("/modules/core/img/loaders/loader.gif") no-repeat center center fixed;

	width: 128px;
	height: 128px;


}



