body {
  color: #14171f;
}
.navbar-inverse {
  background: -webkit-linear-gradient(#14171f, #222);
  background: -o-linear-gradient(#14171f, #222);
  background: -moz-linear-gradient(#14171f, #222);
  background: linear-gradient(#14171f, #222);
}
.field-validation-error {
  color: #b94a48;
}
.field-validation-valid {
  display: none;
}
input.input-validation-error {
  border: 1px solid #b94a48;
}
input[type="checkbox"].input-validation-error {
  border: 0 none;
}
.validation-summary-errors {
  color: #b94a48;
}
.validation-summary-valid {
  display: none;
}
.text-shadow,
label,
h1 {
  font-weight: normal;
  color: #000;
  text-shadow: -1px -1px 1px #ababab, 1px 1px 1px #000;
}
.help-block {
  text-shadow: 2px 2px #b5b5b5;
}
html {
  background-repeat: no-repeat;
  background: -webkit-linear-gradient(#fad2af, #e1a696);
  background: -o-linear-gradient(#fad2af, #e1a696);
  background: -moz-linear-gradient(#fad2af, #e1a696);
  background: linear-gradient(#fad2af, #e1a696);
  height: 100%;
}
