@import 'mixins'

body
  color #460041
  padding-bottom 20px

.bg-body
  background url("/modules/core/img/brand/bridge.jpg") no-repeat center center fixed
  bacground-size(cover)

.navbar-inverse
  top-bottom-background(#BC0069, #222)

.navbar-inverse .navbar-nav > .open > a, .navbar-inverse .navbar-nav > .active > a
  background-image-to-bottom(#A7025E 0%, #0f0f0f 100%)

.field-validation-error
  color #b94a48

.field-validation-valid
  display none

input.input-validation-error
  border 1px solid #b94a48

input[type="checkbox"].input-validation-error
  border 0 none

.validation-summary-errors
  color #b94a48

.validation-summary-valid
  display none

.text-shadow, label, h1
  font-weight normal
  text-shadow: -1px -1px 1px #ababab, 1px 1px 1px #000

.help-block
  font-size 1.2em
  text-shadow 1px 1px 1px #242424
  color #fa2b75

html, body
  background-repeat no-repeat
  top-bottom-background(#FAD2AF, #E1A696)

.height100pcnt
  height 100%

.shadow3
  shadow(3px 3px 3px #000000)

.btn
  shadow(3px 3px 3px #000000)
  cursor pointer

.btn-indent
  margin-right 7px

.page-header
  margin-top 30px
  padding-bottom 4px


.whiteOnBlue
  color white
  background-color #296295
  padding 4px
  border-radius 2px

.modal-body
  line-height 20px

.long-name
  word-break break-all

.truncate
    min-width 100%
    min-height 101%

.show-setup
  transition(1s linear all)
  opacity 0

.show-setup.show-start
  opacity 1

.pink-color
  color #DC0A6C

::-ms-clear, ::-ms-reveal
    width  0
    height 0

.searchclear
  position absolute
  right 7px
  top 50%
  bottom 0
  margin -7px auto 0
  font-size 14px
  cursor pointer
  color #ccc

.opacity0
  opacity 0

.opacity1
  opacity 1

.hide
  display none

.block
  display block

.absolute
  position absolute

.magnify
  z-index 9999 !important

