.field-validation-error {
  color: #b94a48;
}
.field-validation-valid {
  display: none;
}
input.input-validation-error {
  border: 1px solid #b94a48;
}
input[type="checkbox"].input-validation-error {
  border: 0 none;
}
.validation-summary-errors {
  color: #b94a48;
}
.validation-summary-valid {
  display: none;
}
.text-shadow,
label,
h1 {
  color: #000;
/*text-shadow: 0px 1px 0px #999, 0px 2px 0px #888, 0px 3px 0px #777, 0px 4px 0px #666, 0px 5px 0px #555, 0px 6px 0px #444, 0px 7px 0px #333, 0px 8px 7px #001135;*/
  text-shadow: -1px -1px 1px #fff, 1px 1px 1px #000;
/*text-shadow 2px 2px #b5b5b5*/
}
.help-block {
  text-shadow: 2px 2px #b5b5b5;
}
