@import 'mixins'

body
  color #14171f

.navbar-inverse
  top-bottom-background(#14171f, #222)

.field-validation-error
  color #b94a48

.field-validation-valid
  display none

input.input-validation-error
  border 1px solid #b94a48

input[type="checkbox"].input-validation-error
  border 0 none

.validation-summary-errors
  color #b94a48

.validation-summary-valid
  display none

.text-shadow, label, h1
  font-weight normal
  color: #000;
  text-shadow: -1px -1px 1px #ababab, 1px 1px 1px #000;

.help-block
  text-shadow 2px 2px #b5b5b5

html
  background-repeat no-repeat
  top-bottom-background(#FAD2AF, #E1A696)
  height 100%

.img-border
  shadow(4px 4px 4px #8888)
  border-radius(10px)
  border solid 3px white

