body {
  color: #14171f;
}
.navbar-inverse {
  background: -webkit-linear-gradient(#14171f, #222);
  background: -o-linear-gradient(#14171f, #222);
  background: -moz-linear-gradient(#14171f, #222);
  background: linear-gradient(#14171f, #222);
}
.field-validation-error {
  color: #b94a48;
}
.field-validation-valid {
  display: none;
}
input.input-validation-error {
  border: 1px solid #b94a48;
}
input[type="checkbox"].input-validation-error {
  border: 0 none;
}
.validation-summary-errors {
  color: #b94a48;
}
.validation-summary-valid {
  display: none;
}
.text-shadow,
label,
h1 {
  font-weight: normal;
  color: #000;
  text-shadow: -1px -1px 1px #ababab, 1px 1px 1px #000;
}
.help-block {
  font-size: 1.2em;
  text-shadow: 1px 1px 1px #a8a8a8;
  color: #fa2b75;
}
html {
  background-repeat: no-repeat;
  background: -webkit-linear-gradient(#fad2af, #e1a696);
  background: -o-linear-gradient(#fad2af, #e1a696);
  background: -moz-linear-gradient(#fad2af, #e1a696);
  background: linear-gradient(#fad2af, #e1a696);
  height: 100%;
}
.shadow3 {
  -webkit-box-shadow: 3px 3px 3px #000;
  -moz-box-shadow: 3px 3px 3px #000;
  box-shadow: 3px 3px 3px #000;
}
.btn {
  -webkit-box-shadow: 3px 3px 3px #000;
  -moz-box-shadow: 3px 3px 3px #000;
  box-shadow: 3px 3px 3px #000;
  cursor: pointer;
}
.btn-indent {
  margin-right: 7px;
}
.page-header {
  margin-top: 20px;
  padding-bottom: 0;
}
