border-radius(n)
  -webkit-border-radius n
  -moz-border-radius n
  border-radius n

border-radius-bottom(n)
  -webkit-border-bottom-right-radius n
  -webkit-border-bottom-left-radius n
  -moz-border-radius-bottomright n
  -moz-border-radius-bottomleft n
  border-bottom-right-radius n
  border-bottom-left-radius n

border-radius-top(n)
  -webkit-border-top-right-radius n
  -webkit-border-top-left-radius n
  -moz-border-radius-topright n
  -moz-border-radius-topleft n
  border-top-right-radius n
  border-top-left-radius n

border-radius(n)
  -webkit-border-radius n
  -moz-border-radius n
  border-radius n

top-bottom-background(top, bottom)
  background -webkit-linear-gradient(top, bottom) /* For Safari 5.1 to 6.0 */
  background -o-linear-gradient(top, bottom) /* For Opera 11.1 to 12.0 */
  background -moz-linear-gradient(top, bottom) /* For Firefox 3.6 to 15 */
  background linear-gradient(top, bottom) /* Standard syntax */

shadow()
  -webkit-box-shadow arguments
  -moz-box-shadow arguments
  box-shadow arguments
