<section class="container" data-ng-controller="ExhibitController">
    <div class="page-header">
        <h1>Create Exhibit</h1>
    </div>
    <div class="col-md-12">

        <form name="exhibitForm" class="form-horizontal" novalidate>
            <fieldset>
                <div class="form-group" show-errors>
                    <label for="title" class="col-sm-3 control-label">Title</label>
                    <div class="col-sm-9 value-section-vshift">
                        <input type="text" id="title" name="title" class="form-control shadow3"
                               ng-model="exhibit.title" unique-name mongo-collection="exhibition"
                               ng-maxlength="50"
                               ng-required="true"/>
                            <span class="help-block"
                                  ng-if="exhibitForm.title.$error.required">Exhibit Title is required
                            </span>
                            <span class="help-block"
                                  ng-if="exhibitForm.title.$error.uniqueName">Duplicated Exhibit Title
                            </span>
                            <span ng-show="exhibitForm.title.$error.maxlength">
                                Exhibit Title cannot exceed 50 characters in length.
                            </span>
                    </div>
                </div>

                <div class="form-group" show-errors>
                    <label for="picture"  class="col-sm-3 control-label">Image</label>

                    <div class="col-sm-9">
                        <div class="col-sm-12 value-section-vshift" style="padding-left: 0">
                            <div class="col-sm-10" style="padding-left: 0;" >

                                <input id="uploadFile" placeholder="Choose Picture" style="cursor:pointer" class="inputUpload shadow3" disabled="disabled" />
                                <div class="fileUpload btn btn-primary">
                                    <span>Upload</span>
                                    <input id="picture"
                                           name="picture"
                                           type="file"
                                           ng-model="exhibit.picture"
                                           accept="image/*"
                                           image="exhibit.picture"
                                           resize-max-height="300"
                                           resize-max-width="300"
                                           resize-quality="0.7"
                                           class="btn btn-default upload"
                                           style="cursor:pointer"
                                           ng-required="true"
                                           file-required />
                                </div>
                            </div>
<!--                            <div style="white-space: nowrap;  margin-bottom: 5px;">
                                <button type="button" ng-click="clearPicture()" class="btn btn-default" style="margin-left: 10px">Clear</button>
                            </div>-->
                        </div>
                        <div class="col-sm-12" style="padding-left: 0;">
                            <!--img-circle-->
                            <img ng-show="exhibit.picture" class="img-responsive shadow3" style="margin-top: 10px" ng-src="{{exhibit.picture.resized.dataURL}}"/>
                        </div>
                        <span class="help-block"
                              ng-if="exhibitForm.picture.$error.required">Picture is required</span>
                    </div>
                </div>
                <div class="form-group">
                    <label for="content" class="col-sm-3 control-label">Notes</label>
                    <div class="col-sm-9">
                <textarea name="content" id="content" class="form-control shadow3" rows="4" cols="20"
                          ng-maxlength="100"
                          ng-model="exhibit.content"></textarea>
                          <span ng-show="exhibitForm.content.$error.maxlength">
                                Exhibit Content cannot exceed 100 characters in length.
                          </span>
                    </div>
                </div>
                <div class="col-sm-offset-3 col-sm-9" style="padding-left:7px; padding-right:0">
                    <div class="alert alert-danger" style="margin-top:5px" ng-if="hasFormError">{{formErrors}}</div>
                </div>
                <div class="form-group">
                    <div class="col-sm-offset-3 col-sm-9" name="recaptcha" id="recaptcha" grecaptcha ng-model="recaptcha"></div>
                </div>

            </fieldset>

            <div class="exhibit-buttons col-sm-offset-3 col-sm-9" style="padding-left:7px; marting-top: 30px">
                <input type="button" class="btn btn-default btn-indent" value="Cancel"
                       ng-click="cancelForm()" />
                <input type="submit" class="btn btn-primary btn-indent" value="Submit"
                       ng-click="save()" />
                <input type="button" class="btn btn-warning" value="Reset"
                       ng-click="resetForm()" />
            </div>
        </form>
    </div>
</section>
