<section class="container" data-ng-controller="ExhibitionController" data-ng-init="find()">
    <div class="page-header">
        <h1>Exhibition</h1>
    </div>

    <div class="container padded">

        <div class="row">
            <div data-ng-repeat="exhibit in exhibition"  style="font-weight:bold"  class="col-sm-6 col-md-3" on-finish-render-filters>
                <div  class="show-title" >
                    <div ng-show="authentication.user._id == exhibit.user._id"  class="text-font"><a  ui-sref="editExhibit({exhibitId: exhibit._id})" >{{exhibit.title}}</a></div>
                    <div class="text-font" ng-show="authentication.user._id != exhibit.user._id" ng-bind="exhibit.title"></div>
                </div>
                <img class="magnify show-img img-responsive" ng-src="{{'/modules/exhibition/pictures/thumbs/' + exhibit._id + '/' + exhibit.picture}}" >
                <div class="show-content">
                    <div class="text-font" ng-bind="exhibit.content"></div>
                </div>
                <!--<h4 style="margin-top: 7px; text-align: center" class="show-content" ng-bind="exhibit.content"></h4>-->
            </div>
        </div>
    </div>
</section>
