<section class="container" data-ng-controller="ExhibitionController" data-ng-init="find()">
    <div class="page-header" style="margin-bottom:10px">
        <h1>Exhibits slide show</h1>
    </div>
    <div class="container padded">
        <div id="img-play" class="active-player-button" ng-if="!playerActive" ng-click="runPlayer()">
            <img  src="/modules/core/img/player/video-box.png">
        </div>
        <!--<div data-ng-repeat="exhibit in exhibition | filter : exhibitQuery" on-finish-render-filters style="font-weight:bold" >-->
        <div class="rotator" ng-class="{inactive-slides: playerActive}" data-ng-repeat="exhibit in exhibition | picRequired | filter : exhibitQuery" style="font-weight:bold" >
            <div ng-if="$index==slideIndex" class="col-sm-12 col-md-12 col-lg-12 img-top">

                <div class="img-spin" style="text-align:center; margin-top: 20px; display: none">
                    <img  src="/modules/core/img/loaders/spin_squares_pink128.gif">
                </div>
                <div class="img-box">
                    <div  class="show-title" >
                        <div ng-show="authentication.user._id == exhibit.user._id"  class="text-font"><a  ui-sref="editExhibit({exhibitId: exhibit._id})" >{{exhibit.title}}</a></div>
                        <div class="text-font" ng-show="authentication.user._id != exhibit.user._id" ng-bind="exhibit.title"></div>
                    </div>

                    <img class="show-img img-responsive " slide-number="$index" player="true" img-lazy-load="{{'/pic/' + exhibit._id + '/' + exhibit.pic.name}}" title="{{exhibit.title + (exhibit.content ? '.\n' + exhibit.content : '')}}">
                    <!--<img img-loaded class="magnify show-img img-responsive" img-lazy-load="{{'/pic/' + exhibit._id + '/' + exhibit.pic.name}}" title="{{exhibit.title + (exhibit.content ? '.\n' + exhibit.content : '')}}">-->
                    <div class="show-content ">
                        <div ng-if="exhibit.content" class="text-font">{{exhibit.content}}</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
