.show-title {
  margin: 10px 0 -5px;
  z-index: -1;
  font-weight: normal;
  text-align: center;
}
.show-title div {
  color: #fff;
/*min-width 100px*/
  border-top: solid 1px #fff;
  border-left: solid 1px #fff;
  border-right: solid 1px #fff;
  -webkit-border-topm: solid 1px #fff;
  -webkit-border-left: solid 1px #fff;
  -webkit-border-right: solid 1px #fff;
  -moz-border-top: solid 1px #fff;
  -moz-border-right: solid 1px #fff;
  -moz-border-left: solid 1px #fff;
/*display inline-block*/
  -webkit-box-shadow: 3px 3px 3px #000;
  -moz-box-shadow: 3px 3px 3px #000;
  box-shadow: 3px 3px 3px #000;
  margin: 0;
  font-weight: normal;
  font-size: 1.2em;
/*word-break break-all*/
  word-wrap: break-word;
  padding: 3px 5px 7px;
  -webkit-border-top-right-radius: 5px;
  -webkit-border-top-left-radius: 5px;
  -moz-border-radius-topright: 5px;
  -moz-border-radius-topleft: 5px;
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
  background-color: #9d9d9d;
}
.show-title a {
  color: #6ac4ef;
  display: inline-block;
  line-height: 0.9em;
  background-color: link-background-color;
  text-decoration: none;
  padding-bottom: -2px;
  border-bottom: 2px solid #6ac4ef;
}
.show-title ahover {
  color: #6ac4ef;
}
.show-content {
  color: #fff;
  font-weight: normal;
  margin: -5px 0 0;
  z-index: -1;
  text-align: center;
}
.show-content div {
  border-bottom: solid 1px #fff;
  border-left: solid 1px #fff;
  border-right: solid 1px #fff;
  -webkit-border-bottom: solid 1px #fff;
  -webkit-border-left: solid 1px #fff;
  -webkit-border-right: solid 1px #fff;
  -moz-border-bottom: solid 1px #fff;
  -moz-border-right: solid 1px #fff;
  -moz-border-left: solid 1px #fff;
/*word-break break-all*/
  word-wrap: break-word;
  -webkit-box-shadow: 3px 3px 3px #000;
  -moz-box-shadow: 3px 3px 3px #000;
  box-shadow: 3px 3px 3px #000;
  font-size: 1.1em;
  padding: 11px 5px 2px;
  -webkit-border-bottom-right-radius: 5px;
  -webkit-border-bottom-left-radius: 5px;
  -moz-border-radius-bottomright: 5px;
  -moz-border-radius-bottomleft: 5px;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
  background-color: #9d9d9d;
}
.show-img {
  background-color: #aaa;
  cursor: pointer;
  text-aligh: center;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  border: solid 1px #fff;
  -moz-border: solid 1px #fff;
  -webkit-border: solid 1px #fff;
  -webkit-box-shadow: 3px 3px 3px #000;
  -moz-box-shadow: 3px 3px 3px #000;
  box-shadow: 3px 3px 3px #000;
}
.text-font {
  background-color: #565656;
  text-shadow: -1px -1px 3px #000;
/*text-shadow 2px 2px 3px #000000*/
}
.img-responsive {
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}
.fileUpload {
  position: relative;
  overflow: hidden;
  margin: 10px;
}
.inputUpload {
  padding: 2px 5px;
/*width 100%*/
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  cursor: pointer;
}
.fileUpload input.upload {
  position: absolute;
  top: 0;
  right: 0;
  margin: 0;
  padding: 0;
  font-size: 1.2em;
  cursor: pointer;
  opacity: 0;
}
#recaptcha div div {
  -webkit-box-shadow: 3px 3px 3px #000;
  -moz-box-shadow: 3px 3px 3px #000;
  box-shadow: 3px 3px 3px #000;
}
.value-section-vshift {
  margin-bottom: -10px;
}
.exhibit-buttons .btn {
  margin-bottom: 8px;
}
.img-box-player {
  opacity: 0;
}
.img-box-player-alt {
  padding-top: 50px;
}
.img-box {
  -webkit-transition: 1s linear all;
  -moz-transition: 1s linear all;
  -ms-transition: 1s linear all;
  -o-transition: 1s linear all;
  transition: 1s linear all;
  opacity: 0;
}
.img-spin {
  width: 100%;
  height: 100%;
}
.img-spin-player {
  position: absolute;
  top: 50%;
  margin-top: -64px;
}
.img-spin-player-alt {
  position: absolute;
  left: 50%;
  margin-left: -64px;
  top: 50%;
  margin-top: -64px;
}
.rotator {
  position: relative;
}
.rotator .previous {
  opacity: 0;
}
.rotator .current {
  opacity: 1;
}
#img-play {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-left: -240px;
  margin-top: -135px;
  z-index: 10;
  opacity: 1;
}
.active-player-button {
  z-index: 1;
  cursor: pointer;
  opacity: 1;
}
#playerBar {
  color: #fff;
}
#playerBar span#text {
  margin-left: 10px;
}
.oddBrowserMarginTop {
  margin-top: 100px;
}
