.show-title
  h3, a
    font-weight normal
    /*text-shadow: -1px -1px 2px #ababab, -1px -1px 2px #000;*/
    color #14171f

.show-content
  color #14171f
  font-weight normal
/*text-shadow: -2px -2px 2px #ababab, -2px -2px 2px #000;*/

.show-img
  background-color #aaa;
