@import '../../common/css/mixins'

font-color = white
link-color = #6ac4ef
background-font-color = #9d9d9d
text-shadow-value =  0px 2px 3px #00000

.show-title
  margin 0 0 -5px
  z-index -1
  font-weight normal
  text-align center

  div
    color font-color
    /*min-width 100px*/
    border-top solid 1px white
    border-left solid 1px white
    border-right solid 1px white
    /*display inline-block*/
    shadow(3px 3px 3px #000000)
    margin 0
    font-weight normal
    font-size 1.2em
    padding 1px 5px 5px
    border-radius-top 5px
    background-color background-font-color

  a
    color link-color
    display inline-block
    line-height 0.9em
    background-color link-background-color
    text-decoration none
    padding-bottom -2px
    border-bottom 2px solid link-color
    &hover
      color link-color

.show-content
  color font-color
  font-weight normal
  margin -5px 0 10px
  z-index -1
  text-align center
  div
    border-bottome solid 1px white
    border-left solid 1px white
    border-right solid 1px white
    shadow(3px 3px 3px #000000)
    font-size 1.1em
    padding 7px 5px 1px
    border-radius-bottom 5px
    background-color background-font-color

.show-img
  background-color #aaa
  cursor pointer
  border-radius(10px)
  border solid 3px white
  shadow(3px 3px 3px #000000)

.text-font
  background-color #565656
  text-shadow -1px -1px 3px #000000
  /*text-shadow 2px 2px 3px #000000*/


.img-responsive
  border-radius 5px

.fileUpload
  position relative
  overflow hidden
  margin 10px

.inputUpload
  padding 2px 5px
  width 200px
  border-radius 4px
  cursor pointer



.fileUpload input.upload
  position absolute
  top 0
  right 0
  margin 0
  padding 0
  font-size 1.2em
  cursor pointer
  opacity 0

#recaptcha div div
  shadow(3px 3px 3px #000000)

.value-section-vshift
  margin-bottom -10px

.exhibit-buttons .btn
  margin-bottom 8px





